.he{
	background-color:#FFCC00;
	height:600px;
}
h2{
	font-size:18px;
	text-align:center;
	padding-top:15px;
}
.or{
	background:#FFA319;
	opacity: 0.8;
	margin-top:50%;
	height:50px;
	width:70px;
}
.I{
	
	text-align:right;
}
b{
	margin-right:5%;
	color:white;
	font-size:16px;
}
.b{
	margin-left:41%;
	font-size:23px;
}
.h2{
	margin-top:15%;
	color:white;
	font-size:45px;
	position: relative;
	
}
.w{
	background-color:#CCCCCC;
}
.q{
	margin-top:10%;
	background-color:white;
	left:5px;
	margin-left:4%;
}
.r{
	margin:5% auto;
	background-color:#999999;
	width:300px;
	height:300px;
}
.l{
	color:black;
	position:absolute;
	font-size:30px;
	margin:13% 11%;
}
.h{
	text-align:left;
	margin-bottom:5%;
	color:#666666;
}
.j{
	color:#CCCCCC;
	margin-bottom:5%;
}
.k{
	margin-top:4%;
	background-color:white;
	left:5px;
	margin-left:4%;
	margin-bottom:4%;
}
.gr{
	background:#2C2C2C;
}
.y{
	margin-top:5%;
	color:white;
}
.ar{
	background:#FFA319;
	opacity: 0.8;
	margin-top:2%;
	height:35px;
	width:90px;
	margin-left:30%;
	margin-bottom:8%
}
.ap{
	font-size:15px;
	text-align:center;
	padding-top:15px;
	padding-bottom:12%;
}